In [79]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [80]:
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
from sklearn import metrics
from sklearn.metrics import accuracy_score
from matplotlib import style
style.use("ggplot")

import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [84]:
import pandas, sys
import pandas as pd


gold = pd.read_csv("c:/Users/George Aziz/desktop/Final_Project/data/gold.csv")
btc = pd.read_csv("c:/Users/George Aziz/desktop/Final_Project/data/bitcoin.csv")
dollar = pd.read_csv("c:/Users/George Aziz/desktop/Final_Project/data/dollar.csv")
SP_500 = pd.read_csv("c:/Users/George Aziz/desktop/Final_Project/data/S&P500.csv")

model_one_btc = pd.concat ([gold, btc, dollar, SP_500])

#model_one_btc.to_csv ("c:/Users/George Aziz/desktop/Final_Project/data/model_one2_btc.csv", index=False)

model_one_btc.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Close*,Adj Close**
0,4/1/2016,1232.3,1235.2,1209.2,1222.199951,1222.199951,1602,gold,NaN,NaN
1,4/4/2016,1221.7,1222.3,1215,1218.000000,1218.000000,2038,gold,NaN,NaN
2,4/5/2016,1215.4,1236.7,1215.4,1228.400024,1228.400024,477,gold,NaN,NaN
3,4/6/2016,1230.4,1230.4,1217.6,1222.500000,1222.500000,248,gold,NaN,NaN
4,4/7/2016,1224.8,1242.9,1224.6,1236.199951,1236.199951,375,gold,NaN,NaN

In [97]:
# Import the bitcoin-gold combined dataset, drop missing data
model_one_btc = pd.read_csv("c:/Users/George Aziz/desktop/Final_Project/data/model_one4_btc.csv")



model_one_btc.shape

(5861, 7)

In [98]:
model_one_btc.describe()

              Close     Adj Close
count   4316.000000   4316.000000
mean    3972.824145   3972.824145
std     7457.971487   7457.971487
min       88.589996     88.589996
25%       99.120003     99.120003
50%     1290.599976   1290.599976
75%     5740.464356   5740.464356
max    61243.085940  61243.085940

In [99]:
model_one_btc.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Ticker'], dtype='object')

In [100]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [101]:
model_one_btc_le = model_one_btc

model_one_btc_le.Ticker = le.fit_transform(model_one_btc_le.Ticker)

model_one_btc.le

<bound method _flex_comp_method_FRAME.<locals>.f of           Date         Open         High          Low        Close  \
0     4/1/2016  1232.300049  1235.199951  1209.199951  1222.199951
1     4/4/2016  1221.699951  1222.300049         1215  1218.000000
2     4/5/2016  1215.400024  1236.699951  1215.400024  1228.400024
3     4/6/2016  1230.400024  1230.400024  1217.599976  1222.500000
4     4/7/2016  1224.800049  1242.900024  1224.599976  1236.199951
...        ...          ...          ...          ...          ...
5856  7-Apr-16     2,063.01     2,063.01     2,033.80          NaN
5857  6-Apr-16     2,045.56     2,067.33     2,043.09          NaN
5858  5-Apr-16     2,062.50     2,062.50     2,042.56          NaN
5859  4-Apr-16     2,073.19     2,074.02     2,062.57          NaN
5860  1-Apr-16     2,056.62     2,075.07     2,043.98          NaN

        Adj Close  Ticker
0     1222.199951       3
1     1218.000000       3
2     1228.400024       3
3     1222.500000       3
4     1236.199951       3
...           ...     ...
5856          NaN       0
5857          NaN       0
5858          NaN       0
5859          NaN       0
5860          NaN       0

[5861 rows x 7 columns]>

In [102]:
model_one_btc_le = model_one_btc_le.drop ('Date', axis=1)

In [103]:
model_one_btc_le.head(10)

          Open         High          Low        Close    Adj Close  Ticker
0  1232.300049  1235.199951  1209.199951  1222.199951  1222.199951       3
1  1221.699951  1222.300049         1215  1218.000000  1218.000000       3
2  1215.400024  1236.699951  1215.400024  1228.400024  1228.400024       3
3  1230.400024  1230.400024  1217.599976  1222.500000  1222.500000       3
4  1224.800049  1242.900024  1224.599976  1236.199951  1236.199951       3
5         1241  1242.800049         1232  1242.500000  1242.500000       3
6       1241.5  1258.699951       1241.5  1256.699951  1256.699951       3
7         1260  1261.699951  1253.699951  1259.400024  1259.400024       3
8       1256.5  1256.900024  1241.300049  1246.800049  1246.800049       3
9  1231.400024  1243.699951       1224.5  1225.000000  1225.000000       3

In [108]:
model_one_btc_le.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Ticker'], dtype='object')

In [111]:
model_one_btc_le["Open"] = pd.to_numeric(model_one_btc_le["Open"], downcast="float")

ValueError: Unable to parse string "3,967.25" at position 4602

In [104]:
X = model_one_btc_le.drop("Ticker", axis=1)
y = model_one_btc_le["Ticker"]
print(X.shape, y.shape)

(5861, 5) (5861,)

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [106]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [107]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: could not convert string to float: '3,271.64'